<nav class="bg-white shadow-md">
    <div class="flex items-center justify-between px-5 py-4 border-b border-gray-300">
        <!-- Hospital Name -->
        <div>
            <h1 class="text-xl font-medium">City General Hospital</h1>
        </div>

        <div class="flex items-center gap-4">
            <div class="text-gray-600 text-xl cursor-pointer p-1 rounded-lg transition duration-300 hover:bg-gray-100">
                <i class="fa-regular fa-bell"></i>
            </div>
            <div>
                <div class="flex items-center gap-2 transition duration-300 hover:bg-gray-100 px-2 py-1  rounded-lg cursor-pointer">
                    <div class="bg-red-200 flex items-center justify-center p-2 rounded-full  text-sm text-red-900">
                        <i class="fa-regular fa-user"></i>
                    </div>
                    <div>
                        <h2 class="text-gray-800 font-medium">Dr. Mazen</h2>
                    </div>
                </div>
            </div>
            <div class="text-gray-600 text-xl cursor-pointer p-1 rounded-lg transition duration-300 hover:bg-gray-100">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
    </div>
</nav>
