<nav class="sidebar col-2 border-r-2 border-gray-200" [ngClass]="{'sidr-nav-open':menuStatus}">
  <header>
    <div class="image-text flex items-center gap-2">
      <span class="image flex items-center w-12 h-12">
        <img src="./assets/images/logo.png" alt="logo">
      </span>
      <div>
        <h1 class="font-bold text-lg">BloodConnect</h1>
        @if (isHospAdmin) {
          
          <p class="text-gray-500 text-sm">Hospital Admin</p>
        }@else{
          
          <p class="text-gray-500 text-sm">App Admin</p>
        }
      </div>
    </div>
    <div class="menu-toggel" (click)="SindeNavToggle()">
      <i class="fa-solid fa-bars icon"></i>
    </div>
  </header>

  <div class="menu-bar flex flex-col justify-between">
    <div class="menu">
      <ul class="menu-links list-unstyled flex flex-col gap-3">

        <!-- CHECK USER ROLE TO SHOW LINKS -->

        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="home">
            <i class="fa-solid fa-house-chimney icon"></i>
            <span class="text nav-text">Dashboard</span>
          </a>
          <span class="title">Dashboard</span>
        </li>
        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="users">
            <i class="fa-sharp-duotone fa-solid fa-users icon"></i>
            <span class="text nav-text">Manage Users</span>
          </a>
          <span class="title">Users</span>
        </li>
        @if (!isAppAdmin) { 
        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="scanning">
            <i class="fa-solid fa-qrcode icon"></i>
            <span class="text nav-text text-red-300">Scan Doner QR</span>
          </a>
          <span class="title">ScanQR</span>
        </li>
        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="blood-inventory">
            <i class="fa-solid fa-warehouse icon"></i>
            <span class="text nav-text">Blood Inventory</span>
          </a>
          <span class="title">Inventory</span>
        </li>
      }
        <li class="nav-link">
          <a routerLink="requests" routerLinkActive="link-active">
            <i class="fa-regular fa-file-lines icon"></i>
            <span class="text nav-text">Requests</span>
          </a>
          <span class="title">Requests</span>
        </li>
        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="blood-data">
            <i class="fa-solid fa-droplet icon"></i>
            <span class="text nav-text">Blood Data</span>
          </a>
          <span class="title">Donations</span>
        </li>
        
        @if (!isAppAdmin) { 
        <li class="nav-link">
          <a routerLinkActive="link-active" routerLink="predictions">
            <i class="fa-solid fa-arrow-trend-up icon"></i>
            <span class="text nav-text">AI Demand</span>
          </a>
          <span class="title">AI</span>
        </li>
      }
        @if (isAppAdmin) {
          <li class="nav-link">
            <a routerLinkActive="link-active" routerLink="hospitals">
              <i class="fa-solid fa-hospital icon"></i>
              <span class="text nav-text">Hospitals</span>
            </a>
            <span class="title">Hospitals</span>
          </li>
          <li class="nav-link">
            <a routerLinkActive="link-active" routerLink="hospital-admins">
              <i class="fa-solid fa-user-doctor icon"></i>
              <span class="text nav-text">Hospital Admins</span>
            </a>
            <span class="title">H.Admins</span>
          </li>
          <li class="nav-link">
            <a routerLinkActive="link-active" routerLink="rewards">
              <i class="fa-solid fa-gift icon"></i>
              <span class="text nav-text">Rewards</span>
            </a>
            <span class="title">Rewards</span>
          </li>
        }

      </ul>
    </div>
  </div>
</nav>
